/*전반적인 style */
body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

/* 로그인, 프로필 페이지 */
.login-container, .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* 회원가입 페이지*/
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
}



#id-username, #id-password {
    margin: 10px 0;
    padding: 10px;
    border: none;
    width: 200px;
}



#signupForm > div > div.genre-list {
    margin-left: 160px;
}
#signupForm > div > div.genre-list > label {
    width: 300px;
}
#signupForm > div > div.genre-list > label > input {
    margin-right: 20px;
}
/*43~51번째 줄 : 회원가입창내에서 체크박스-텍스트 간격 조절*/


#signupForm > div > h3{
    margin-left: 165px;
} /*회원가입 칭에서 나의 영화 취향 텍스트*/


#profileForm > div.preferences > h3{
    margin-left:165px;
} /*마이페이지 창에서 나의 영화 취향 텍스트*/

#selectAllButton-mp{
    margin-right:100px;
} /*마이페이지 창에서 전체체크 버튼*/

#selectAllButton-su{
    margin-right:180px;
} /*회원가입 창에서 전체체크 버튼*/



#profileForm > div > div.genre-list {
    margin-left: 160px;
}
#profileForm > div > div.genre-list > label {
    width: 200px;
}
#profileForm > div > div.genre-list > label > input {
    margin-right: 20px;
}
/*74~82번째 줄 : 마이페이지창내에서 체크박스-텍스트 간격 조절*/


button {
    padding:15px;
    margin:10px;
    background-color:red;
    color: white;
    border: none;
    cursor: pointer;
    height:40px;
    border-radius: 20px;
}

.preferences {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}


.preferences label {
    margin: 5px 0;
}

/* 전체 체크 버튼 */
.select-all-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.select-all-container button {
    padding: 5px 10px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* 메인 페이지 */
.main-page {
    background-color: black;
    width: 100vw;
    min-height: 100vh;
    padding-top: 80px; /* nav 탭 높이만큼 패딩 추가 */
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: fixed;    /* 아래로 스크롤해도 nav탭은 고정되게 */
    top: 0;
    width: 100%;
    z-index: 10;
    height:105px;
    padding-bottom: 10px;
}

.nav{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#left-nav {
   margin-left : 30px;
    text-align: center;
    line-height: 130px;
}

#right-nav {
    padding:30px;
   margin-right : 15px;
}

nav .right-nav button {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

nav .right-nav input {
    padding: 5px;
    margin-right: 10px;
}

.sort-options {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right:30px;
    margin-top:30px;
}

.sort-options label {
    margin-right: 10px;
}

.movies-container {
    padding: 20px;
}

/* 장르별 행 스타일 */
.genre-row {
    margin-bottom: 20px;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
}

.genre-row h2 {
    color: white;
    position: sticky;
    left: 0;
    background-color: black;
    z-index: 1;
    padding: 10px;
}

.genre-row .movie-poster {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.genre-row .movie-poster img {
    width: 200px;
    height: 300px;
}

/* 모달 창 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* z-index 추가하여 모달 창이 가장 위에 뜨도록 함 */
}

.modal-content {
    background-color: black;
    opacity:0.8;
    padding: 25px;
    width: 80%;
    max-width: 800px;
    color: white;
    text-align: center;
}

.modal-content iframe {
    width: 100%;
    height: 315px;
}

#sortSelect{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius:5px;
}

#logoutButton{
    background-color:black;
    margin-left:0px;
}

#searchButton{
    background-color:black;
    margin-right:0px;
}

input[type=text],input[type=password]{
    border-radius:30px;
}

h2{
    margin:5px;
}

a{
    color:white;
    text-decoration-line:none;
}

.title {
    font-size: 40px;
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: bold;
    color: red; 
    padding-left: 20px; 
}

.genre-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#cancelButton{
    background-color:grey;
}

.buttons{
    text-align: center;
}

#signupForm {
    display: flex;
    flex-direction: column;
    align-items: center; /* 폼 요소들을 중앙으로 정렬 */
}

